body {
    background-color: white;
}



* { 
    margin: 0px;
    padding:0px;
    box-sizing: border-box;
    font-size: 30px;
}
// Container 1 //
.container-1 > img {
width: 45em;       
}
// Container 2 //
.grid-container-2 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    height: 700px;
    width: 30em;
    margin-left: 50px;
    margin-top: 200px;
    border: 0px solid white;
    background-color: white; 
}

 .grid-item {
    background-color: rgb(14, 13, 13);
    border: 0px solid white;
    padding: 0px;
 }

 .grid-item1 {
    grid-column-start: 1;
    grid-column-end: 7;
    grid-row-start: 1;
    grid-row-end: 6;
    background-color: rgb(14, 13, 13);

 }

 .grid-item2 {
    grid-column-start: 2;
    grid-column-end: 6;
    grid-row-start: 2;
    grid-row-end: 5;
    background-color: rgb(14, 13, 13);
 }

.grid-item3 {
   grid-column-start: 7;
   grid-column-end: 8;
   grid-row-start: 2;
   grid-row-end: 5;
   background-color: white;

} 

.button {
   background-color: #0c0f0d; /* Black */
   border: none;
   color: white;
   padding: 15px 32px;
   text-align: center;
   text-decoration: none;
   display: inline-block;
   font-size: 22px;
   margin-top: 20px;
   height: 60px;
   width: 245px;
 
 }

  // Container 3 // 
 .grid-container-3 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    height: 350px;
    margin-top: 0px;
    border: 10px solid white;
 }

 .grid-item4 {
   grid-column-start: 1;
   grid-column-end: 6;
   grid-row-start: 1;
   grid-row-end: 4;
   background-color: white;
}

 .grid-item5 {
   grid-column-start: 6;
   grid-column-end: 7;
   grid-row-start: 1;
   grid-row-end: 4;
   background-color: white;
}

 .grid-item6 {
   grid-column-start: 7;
   grid-column-end: 8;
   grid-row-start: 1;
   grid-row-end: 4;
   background-color: white;
}

 .grid-item7 {
   grid-column-start: 8;
   grid-column-end: 9;
   grid-row-start: 1;
   grid-row-end: 4;
   background-color: white;
}



  // Container 4 //
 .grid-container-4 {
   display: grid;
   grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr; 
   grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
   height: 800px;
   width: auto; 
   background-color: white; 
   border: 10px solid black; 
 }

 .grid-item8 {
   grid-column-start: 1;
   grid-column-end: 4;
   grid-row-start: 1;
   grid-row-end: 4;
   background-color: white; 
   margin-right: 670px;

}

  .grid-item9 {
   grid-column-start: 3;
   grid-column-end: 5;
   grid-row-start: 3;
   grid-row-end: 6;
   background-color: white; 
   margin-right: 670px;

}

  .grid-item10 {
   grid-column-start: 6;
   grid-column-end: 7;
   grid-row-start: 1;
   grid-row-end: 5;
   background-color: white; 
   margin-right: 670px;

}

  .grid-item11 {
   grid-column-start: 7;
   grid-column-end: 8;
   grid-row-start: 1;
   grid-row-end: 5;
   background-color: rgb(130, 30, 30); 
   margin-right: 670px;

}

// MEDIA QUERIES//
//Mobile Breakpoint
@media (max-width:480px){
   //CODE IN HERE
   }
   
   //Tablet Breakpoint
   @media (min-width:768px){
      .container-1 > img {
         width: 30em;       
         }
     // container-2 //
      .grid-container-2 > h1 {
         display: grid;
         grid-template-columns: 500px 500px; 
         grid-template-rows: 500px 500px;
         height: 500px;
         width: 30em;
         margin-left: 100px; 
         margin-top: 200px;
         border: 0px solid rgb(9, 9, 9);
         background-color: rgb(10, 8, 8); 
      }
    
      .grid-item {
         background-color: rgb(17, 14, 14);
         border: 0px solid rgb(9, 7, 7);
         padding: 0px;
      }
   
      .grid-item1 {
         grid-column-start: 1;
         grid-column-end: 8;
         grid-row-start: 1;
         grid-row-end: 6;
         margin-right: 300px;
         height: 550px;
         background-color: rgb(9, 4, 4);
     
      }
     
      .grid-item2 {
         grid-column-start: 2;
         grid-column-end: 5;
         grid-row-start: 2;
         grid-row-end: 5;
         margin-right: 0px;
         background-color: rgb(6, 5, 5);
      }

      .grid-item3 {
         grid-column-start: 8;
         grid-column-end: 9;
         grid-row-start: 2;
         grid-row-end: 5;
         margin-left: 0px;
         background-color: white;
      }

      .button {
         background-color: #0c0f0d; /* Black */
         border: none;
         color: white;
         padding: 15px 32px;
         text-align: center;
         text-decoration: none;
         display: inline-block;
         font-size: 22px;
         margin-top: 20px;
         height: 60px;
         width: 245px;
       }

     // container3 //
      .container-3 > h2 {
         width: 30em;
         height: 200px;
      }
      
      .grid-container-3 > h2 {
         display: grid;
         border: 10px white;
         text-align:left;
         margin-left: 200px;
         margin-top: 140px;
         font-family: sans-serif;
         font-size: 100px;
         color: rgb(249, 233, 233);
      }
     
      .grid-container-3 > h2 > p {
         color: rgb(246, 237, 237);
         font-size: 50px;
         font-family: sans-serif;
         margin-top: 70px;
      }
     
     .grid-container-3 > h2 .p {
        color: rgb(250, 242, 242);
        margin: 0px;
        font-size: 25px;
     }
     
      .grid-item4 {
         grid-column-start: 1;
         grid-column-end: 5;
         grid-row-start: 1;
         grid-row-end: 4;
         background-color: white;
     }
     
      .grid-item5 {
         grid-column-start: 5;
         grid-column-end: 8;
         grid-row-start: 1;
         grid-row-end: 4;
         background-color: white;
   }

      .grid-item6 {
         grid-column-start: 8;
         grid-column-end: 9;
         grid-row-start: 1;
         grid-row-end: 4;
         background-color: white;
   }

      .grid-item7 {
         grid-column-start: 9;
         grid-column-end: 10;
         grid-row-start: 1;
         grid-row-end: 4;
         background-color: white;
   }

   //  container4  //
      .grid-container-4 {
         display: grid;
         grid-template-columns: 1fr 1fr 1fr 1fr; 
         grid-template-rows: 1fr 1fr 1fr 1fr;
         width: 45em;
         height: 800px;
         margin-left: 100px; 
         margin-top: 150px;
         border: 0px solid rgb(13, 9, 9);
         background-color: rgb(252, 247, 247); 
      }

      .grid-item8 {
         grid-column-start: 1;
         grid-column-end: 3;
         grid-row-start: 1;
         grid-row-end: 3;
         background-color: rgb(251, 237, 237); 
         margin-right:0px;

      }

      .grid-item9 {
         grid-column-start: 2;
         grid-column-end: 4;
         grid-row-start: 2;
         grid-row-end: 4;
         background-color: rgb(243, 70, 70); 
         text-align: center;
      }

      .grid-item10 {
         grid-column-start: 3;
         grid-column-end: 9;
         grid-row-start: 7;
         grid-row-end: 9;
         background-color: white; 
         text-align: center;
      }

      .grid-item11 {
         grid-column-start: 7;
         grid-column-end: 8;
         grid-row-start: 1;
         grid-row-end: 5;
         background-color: white; 
         text-align: center;
      }

      .grid-item12 {
         grid-column-start: 7;
         grid-column-end: 8;
         grid-row-start: 1;
         grid-row-end: 5;
         background-color: white; 
         text-align: center;
      }
   }

      
   









