body {
  background-color: white;
}

* {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 30px;
}

.container-1 > img {
  width: 45em;
}

.grid-container-2 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  -ms-grid-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  height: 1000px;
  width: 30em;
  margin-left: 50px;
  margin-top: 200px;
  border: 0px solid white;
  background-color: white;
}

.grid-item {
  background-color: #0e0d0d;
  border: 0px solid black;
  padding: 0px;
}

.grid-item1 {
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 7;
  -ms-grid-row: 1;
      grid-row-start: 1;
  grid-row-end: 6;
  height: 660px;
  width: 650px;
  background-color: #0e0d0d;
}

.grid-item2 {
  -ms-grid-column: 2;
      grid-column-start: 2;
  grid-column-end: 6;
  -ms-grid-row: 2;
      grid-row-start: 2;
  grid-row-end: 5;
  background-color: #0e0d0d;
}

.grid-item3 {
  -ms-grid-column: 7;
      grid-column-start: 7;
  grid-column-end: 8;
  -ms-grid-row: 2;
      grid-row-start: 2;
  grid-row-end: 5;
  background-color: white;
}

.grid-container-3 > h1 {
  display: inline-block;
  height: 900px;
  border: 10px white;
  text-align: left;
  margin-left: 200px;
  margin-top: 140px;
  font-family: sans-serif;
  font-size: 100px;
  color: #555151;
}

.grid-container-3 > h1 > p {
  color: black;
  font-size: 50px;
  font-family: sans-serif;
  margin-top: 70px;
}

.grid-container-3 > h1 .p {
  color: #585656;
  margin: 0px;
  font-size: 25px;
}

.button {
  background-color: #0c0f0d;
  /* Black */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 22px;
  margin-top: 20px;
  height: 60px;
  width: 245px;
}

.container-4 {
  height: 800px;
  border: 10px solid black;
}

.container-5 > {
  height: 800px;
  border: 10px solid black;
}

@media (min-width: 768px) {
  .container-1 > img {
    width: 30em;
  }
  .grid-container-2 > h1 {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    -ms-grid-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    height: 800px;
    width: 30em;
    margin-left: 100px;
    margin-top: 200px;
    border: 0px solid #090909;
    background-color: #0a0808;
  }
  .grid-item {
    background-color: #110e0e;
    border: 0px solid #090707;
    padding: 0px;
  }
  .grid-item1 {
    -ms-grid-column: 1;
        grid-column-start: 1;
    grid-column-end: 8;
    -ms-grid-row: 1;
        grid-row-start: 1;
    grid-row-end: 6;
    margin-right: 300px;
    height: 550px;
    background-color: #090404;
  }
  .grid-item2 {
    -ms-grid-column: 2;
        grid-column-start: 2;
    grid-column-end: 5;
    -ms-grid-row: 2;
        grid-row-start: 2;
    grid-row-end: 5;
    margin-right: 0px;
    background-color: #060505;
  }
  .grid-item3 {
    -ms-grid-column: 8;
        grid-column-start: 8;
    grid-column-end: 9;
    -ms-grid-row: 2;
        grid-row-start: 2;
    grid-row-end: 5;
    margin-left: 0px;
    background-color: white;
  }
  .container-3 > h1 {
    width: 30em;
  }
  .container-4 {
    height: 800px;
    width: 30em;
    border: 10px solid #100d0d;
  }
}
/*# sourceMappingURL=style.css.map */